@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&family=Rochester&display=swap");

.redes__instagram {
  border-color: #f010bf; }

.redes__facebook {
  border-color: #3600fa; }

.menu__1:hover {
  transform: scale(1.2);
  transition: all 2s; }

.menu__2:hover {
  transform: scale(1.2);
  transition: all 2s; }

.menu__3:hover {
  transform: scale(1.2);
  transition: all 2s; }

.card-title, .tamaños {
  color: black;
  font-family: "New Tegomin", serif; }

.tamaños {
  font-size: 30px; }

/*--------------------MASITAS SECAS---------------------*/
.imagen__ {
  height: 400px;
  width: 400px; }

/* -----------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    width: 100%; } }

@media screen and (max-width: 558px) {
  .menu {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: auto; } }

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    font-size: 1.7rem;
    width: auto;
    flex-direction: row; } }

/*-------------Contacto----------------*/
@media screen and (max-width: 800px) {
  .contacto_flex {
    display: flex;
    flex-direction: column-reverse;
    width: auto; } }

@media screen and (min-width: 800px) {
  .contacto_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around; } }

@media screen and (max-width: 720px) {
  .menu__contacto {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    width: auto; } }

@media screen and (min-width: 720px) {
  .menu__contacto {
    display: flex;
    flex-direction: row;
    width: auto;
    font-size: 2rem; } }

/*-----------------index---------------*/
@media screen and (max-width: 720px) {
  .titulo {
    font-size: 2.3rem; } }

@media screen and (min-width: 720px) {
  .titulo {
    font-size: 5rem; } }

@media screen and (max-width: 768px) {
  .redes {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    width: auto; } }

@media screen and (min-width: 768px) {
  .redes {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    width: auto; } }

/*----------pedidos-----------*/

@media screen and (max-width: 720px) {
  .menu__pedidosespeciales {
    display: flex;
    flex-direction: column; } }

@media screen and (min-width: 768px) {
  #grillas {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 10px;
    justify-content: center; } }

@media screen and (max-width: 768px) {
  #grillas {
    display: grid;
    grid-template-columns: 70%;
    gap: 10px;
    justify-content: center; } }

@media screen and (min-width: 768px) {
  #pedidosespeciales__ {
    font-size: 2rem; } }

@media screen and (max-width: 768px) {
  #pedidosespeciales__ {
    font-size: 1.4rem; } }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.body_conocenos {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  color: black;
  background-color: pink; }

.titulo {
  font-family: 'Rochester', "cursive";
  padding: 20px;
  margin: 0;
  justify-content: center;
  display: flex; }

.titulo__pedidosespeciales {
  font-size: 50px;
  font-family: 'Rochester', "cursive";
  padding-top: 20px;
  margin: 0;
  justify-content: center;
  display: flex; }

.titulo__conocenos {
  font-size: 50px;
  font-family: 'Rochester', "cursive";
  padding-top: 20px;
  margin: 0;
  justify-content: center;
  display: flex; }

.titulo__contacto {
  font-size: 50px;
  font-family: 'Rochester', "cursive";
  padding-top: 20px;
  margin: 0;
  justify-content: center;
  display: flex; }

.menu {
  color: black;
  font-family: "New Tegomin", serif;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  align-items: center;
  list-style: none; }

.menu__pedidosespeciales {
  color: black;
  font-family: "New Tegomin", serif;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  align-items: center;
  list-style: none;
  padding: 10px;
  font-size: 2rem; }

.menu__contacto {
  color: black;
  font-family: "New Tegomin", serif;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  align-items: center;
  list-style: none; }

a {
  text-decoration: none; }

.container {
  font-family: "New Tegomin", serif;
  font-size: 25px;
  align-self: center; }

.featurette-heading {
  font-size: 30px;
  text-align: center; }

.lead li {
  list-style: none;
  text-align: center; }

#pedidosespeciales_espacio {
  word-spacing: normal; }

#pedidosespeciales__ {
  margin: 20px;
  text-align: center;
  font-family: "New Tegomin", serif;
  word-spacing: 0.5cm; }

.contacto {
  border-style: dotted;
  border-color: aqua;
  border-width: medium; }

.contacto__ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px; }

form label {
  font-family: 'New Tegomin', serif;
  font-size: 20px; }

form input,
form textarea {
  background-color: pink;
  border-radius: 5px; }

.conocenos__mapa {
  color: black;
  font-family: 'Homemade Apple', cursive;
  font-size: 20px;
  padding: 0px;
  margin: 10px; }

.flex_section_atencion {
  padding: 20px;
  margin: 20px;
  border-style: dashed;
  border-color: aqua; }

.redes {
  display: flex;
  justify-content: space-around;
  border-style: dashed;
  border-color: aqua;
  background-color: aquamarine;
  align-items: center;
  font-family: "New Tegomin", serif;
  margin: 10px;
  width: 100%; }

.tamaños {
  color: black;
  font-family: 'Homemade Apple',"cursive";
  font-size: 20px;
  padding: 0px;
  align-items: flex-start;
  margin-left: 50px;
  justify-content: center;
  display: flexbox; }

.imagen_masitassecas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  padding: 40px; }

.imagen__ {
  border-style: solid;
  border-color: #00e2bc;
  margin: 40px;
  border-style: solid; }

.tartas_imagen {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  padding: 40px; }

.tartas__ {
  border-style: solid;
  border-color: paleturquoise;
  margin: 40px; }

.budin {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  padding: 40px; }

.budin__ {
  border-style: solid;
  border-color: tomato;
  margin: 40px; }

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fdc2d6; }
