.titulo{ 
    font-size: 60px;
    font-family: 'Rochester', "cursive";
    padding-top: 20px;
    margin: 0;
    justify-content: center;
    display: flex;
    }

.titulo__pedidosespeciales{
    font-size: 50px;  
    font-family: 'Rochester', "cursive";
    padding-top: 20px;
    margin: 0;
    justify-content: center;
    display: flex;
}

.titulo__conocenos{
    font-size: 50px;  
    font-family: 'Rochester', "cursive";
    padding-top: 20px;
    margin: 0; 
    justify-content: center;
    display: flex;
}

.titulo__contacto{
    font-size: 50px;  
    font-family: 'Rochester', "cursive";
    padding-top: 20px;
    margin: 0; 
    justify-content: center;
    display: flex;
}
